<div class="header">
    <div
    *ngIf="isLogged == true && isAdmin === false" class="header__nav" >
    <a
    class="header__nav__links"
    *ngFor="let link of headerLinksUser"
    [routerLink]="[link.url]"
    routerLinkActive="header__nav__links--active"
    >{{ link.content }}</a>
    <div>
        <button *ngIf="isLogged" (click)="logout()"  class="header__nav__button">Logout</button>
    
        
    </div>
    </div>
    <div
    *ngIf="isAdmin  === true" class="header__nav">
    <a
    class="header__nav__links"
    *ngFor="let link of headerLinksAdmin"
    [routerLink]="[link.url]"
    routerLinkActive="header__nav__links--active"
    >{{ link.content }}</a>
    <button *ngIf="isLogged" (click)="logout()" class="header__nav__button">Logout</button>
    </div>
    <div class="header__div__logo">
    <img *ngIf="isLogged"  src="https://res.cloudinary.com/dcarljfbe/image/upload/v1681467587/logo_n1yyuk.png" alt="logo">
    </div>
</div>

