<h1 *ngIf="remove" class="message">Coche borrado correctamente</h1>
<h1 *ngIf="accept" class="message">Coche Aceptado correctamente y subido a BBDD</h1>

<h1 *ngIf="!cars" class="message">No hay coches para revisar</h1>
<div *ngIf="cars" class="revision">
    <div *ngFor="let car of cars" class="car-card">
            <h3>{{car.brand}}</h3>
            <h2>{{car.model}}</h2>
            <img src="{{car.image}}" alt="{{car.model}}">
            <p>Carriocería: {{car.type}}</p>
            <p>Potencia: {{car.power}} cv</p>
            <p>Fuerza: {{car.par}} Nm</p>
            <p>Motor: {{car.engineType}}</p>
            <p>Cilindrada: {{car.engineCil}}cc</p>
            <p>Tracción: {{car.traction}}</p>
            <p>Año lanzamiento: {{car.year}}</p>
            <p>Peso: {{car.heigh}}</p>
            <p>Velocidad máxima: {{car.speed}}</p>
            <p>{{car._id}}</p>
            <button (click)="editCar(car._id)">Editar</button>
            <button (click)="deleteCarToRevise(car._id)">Borrar</button>
            <button (click)="acceptCar(car)">Aceptar</button>
        </div>

</div>