.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .welcome h1 {
    margin-top: 0;
    color: azure;
  }
  
  .welcome p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 40px;
    padding: 0;
    background-color: transparent;
    color: rgb(141, 129, 18);

  }